.navbar {
  background: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 16px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  margin: 0;
  color: #1d4ed8;
}

.nav-links {
  display: flex;
  gap: 18px;
}

.nav-links a {
  text-decoration: none;
  color: #374151;
  font-weight: 600;
}

.nav-links a:hover {
  color: #1d4ed8;
}